<a href="/FormList">Back to list</a>
<h1>Manage questions</h1>
<edit-question-view ng-repeat="question in form.Questions | orderBy : 'Order'" question="question" funcs="editQuestionFuncs" ></edit-question-view>

<button ng-click="saveFormStructure(form)">Save</button>
<button ng-click="showPreview = !showPreview">Preview</button>

<div id="addQuestion">
    + New Question Type:
    <select ng-model="newType" ng-options="type for type in questionTypes"></select>
    <button ng-click="addQuestion()">Add</button>
</div>

<div id="preview-questions" ng-show="showPreview">
    <button class="close" ng-click="showPreview = !showPreview">Close</button>
    <question-view ng-repeat="question in form.Questions" question="question" ></question-view>
</div>